.header-bar {
	width: 100%;
	text-align: center;
	height: auto;
	padding: 20px 0px;
	background-image: url(../images/background.png);
	margin-bottom: 50px;
}
.header-bar a img {
	text-align: center;
}
.contact-content {
	text-align: center;
}
.contact-content h1,
.contact-content h3 {
	color: #5e2746;
}
.contact-content h1 {
	margin-bottom: 50px;
}
.form-group input:focus:invalid {
	border-color: #5e2746;
}
.form-group input:focus:valid {
	border-color: #461e5a;
}
.form-group textarea:focus:invalid {
	border-color: #5e2746;
}
.form-group textarea:focus:valid {
	border-color: #461e5a;
}
.btn {
	width: 100%;
}

.btn-envoyer {
	background-color: #5e2746;
	color: #ffffff;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.btn-envoyer:hover {
	background-color: #461e5a;
	color: #ffffff;
}


.contact-content .content {
	text-align: left;
}
.content p {
	font-size: 18px;
}
.content .first-h3 {
	margin-top: 0px;
}


.map-canvas {
	margin-top: 20px;
	border-top: 5px solid #5e2746;
	border-bottom: 5px solid #5e2746;
}



/********************** staff style *************************/

.staff-content h1 {
	text-align: center;
	color: #5e2746;
}
.staff-content .board {
	text-align: center;
	padding: 10px 0px;
	background-color: #5e2746;
	color: white;
}
.staff-content h3 {
	margin: 0 0;
}

.staff-content .member {
	text-align: center;
	padding: 10px 0px;
	color: #5e2746;
}

.staff-content .cellule {
	margin-top: 50px;
	text-align: center;
}
.staff-content .cellule h3,
.staff-content .cellule h5 {
	padding: 5px 0px;
	background-color: #5e2746;
	color: white;
}

/******************** projet-style **************/

.projet-content h1 {
	text-align: center;
	color: #5e2746;
}

.projet-content thead th {
	color: #5e2746;
}
.table-hover > tbody > tr > td.descri,
.table-hover > tbody > tr > th.descri {
  	width: 400px;
}
.table-hover > tbody > tr > td,
.table-hover > tbody > tr > th {
  	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.table-hover > tbody > tr:hover > td {
  	background-color: #5e2746;
  	border-color: white;
  	color: white;
}
.table-hover > tbody > tr:hover > td.img-ecole {
  	background-color: white;
  	border-color: #5e2746;
}
.table-hover > tbody > tr > td.img-ecole,
.table-hover > tbody > tr > th.img-ecole {
  	min-width: 120px;
  	max-width: 120px;
}
.table-hover > tbody > tr > td.img-ecole img {
  	width: 100%;
  	height: auto;
  	margin-bottom: 5px;
  	text-align: center;
}
@media (max-width: 992px) {

}